<div class="container">
	<div class="text-center display-4">Connexion</div>
</div>

<div class="container mt-3">
	<form action="connexion.php" method="post">
		<div class="form-group mb-3">
			<div class="font-weight-bold mb-2">Email</div>
			<input type="email" name="email" class="form-control" placeholder="Entrer votre email" required="required">
		</div>

		<div class="form-group mb-3">
			<div class="font-weight-bold mb-2">Mot de Passe</div>
			<input type="password" name="password" class="form-control" placeholder="Entrer votre mot de passe" required="required">
		</div>

		<button class="btn btn-primary submit" name="submit">Connexion</button>
	</form>
	<div class="mt-3">Vous avez oublié votre mot de passe ?<a href=""> Clique ici</a></div>
	<div class="mt-3">Vous n'êtes pas encore inscrit ?<a href="inscription.php"> Clique ici</a></div>
</div>